
.table{
    margin-top:20px;
    margin-bottom: 20px;
    overflow:scroll;
    height:450px;
    color: #0b3249;
  }
  .table tr{
      display:flex;
      justify-content:space-between;
  }
  .table td{ 
      padding: 5px;
  }
  .table tr:nth-of-type(odd){
    background-color:#f3f3f3
  }
  @media (max-width: 990){
    .table{
      height:250px;
    }
  }